# DB Config
DB_HOST= "your_database_host"
DB_PORT= "your_database_port"
DB_NAME= "your_database_name"
DB_USER= "your_database_user"
DB_PASS= "your_database_password"
DB_CHARSET= "your_database_charset"

# APP Config
APP_NAME= "Anigura API"
APP_URL= "http://localhost:8000"
APP_ENV= "dev"
APP_DEBUG= "true"

# Secret Key
JWT_KEY= "your_secret_key_here"
JWT_EXP= "3600"
